@import url('https://fonts.googleapis.com/css2?family=Delius&family=Poetsen+One&display=swap');

body {
  background-image: url("https://t3.ftcdn.net/jpg/09/36/90/28/360_F_936902836_C0whVoMbWhjEhqNlpFIuVO6CSUwrDm9T.jpg");
  text-align: center;
  margin: auto;
   font-family: "Poetsen One", serif;
}

h1{
  font-size: 30px;
  color: lightgreen;

}

#myCanvas {
  background-size: 600px 400px;
  border-radius: 30px;
  border: 20px solid lightgreen;
}



